{% load static %}
<!DOCTYPE html>
<html>
    <head>  
        <meta charset="utf-8">  
        <title>{% block title %}SSOC{% endblock %}</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    </head>  
    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    {% include 'nav.html' %} 
                </div>
                <div class="col-md-10 column">
                    {% block content %}  
                    <div>This is origin content</div>  
                    {% endblock %}  
                </div>
            </div>
        </div>
    </body>  
</html>
