{% extends 'blog/base1.html' %} 
{% block main %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">病人信息补全</h3>
                <p style="font-size:9px;">缺少部分模型所需的病人信息。</p>
            </div>
            <div class="panel-body">
                <!--form role="form" method="post" action="{% url 'login' %}"-->
                <form role="form" action="" method="post" id="addpatform" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label for="exampleInputName2" class="col-md-2 control-label" >发病日期 </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="dignose" id="dignose" placeholder="">
                            </div>
                            <label for="exampleInputName2" class="col-md-2 control-label" >首次康复治疗 </label>
                            <div class="col-md-4">
                                <label><input name="Fruit" type="radio" value="" />是 </label> 
                                <label><input name="Fruit" type="radio" value="" />否 </label> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2" class="col-md-2 control-label" >高血压 </label>
                            <div class="col-md-4">
                                <label><input name="Fruit" type="radio" value="" />是 </label>
                                <label><input name="Fruit" type="radio" value="" />否 </label>
                            </div>
                            <label for="exampleInputName2" class="col-md-2 control-label" >糖尿病 </label>
                            <div class="col-md-4">
                                <label><input name="Fruit" type="radio" value="" />是 </label> 
                                <label><input name="Fruit" type="radio" value="" />否 </label> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2" class="col-md-2 control-label" >保守治疗 </label>
                            <div class="col-md-4">
                                <label><input name="Fruit" type="radio" value="" />是 </label>
                                <label><input name="Fruit" type="radio" value="" />否 </label>
                            </div>
                            <label for="exampleInputName2" class="col-md-2 control-label" >诊断类型 </label>
                            <div class="col-md-4">
                                <label><input name="Fruit" type="radio" value="" />脑梗 </label> 
                                <label><input name="Fruit" type="radio" value="" />脑出血 </label> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2" class="col-md-1 control-label">GLU </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="dignose" id="dignose" placeholder=""> 
                            </div>
                            <label for="exampleInputName2" class="col-md-1 control-label">TG </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="birthday" id="birthday" placeholder="1970.1" style="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2" class="col-md-1 control-label">LDL-C </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="dignose" id="dignose" placeholder="">
                            </div>
                        </div>
                        <div class="form-actions pull-right">
                            <input type="submit" id="submit" onclick="javascript: history.back(-1)" tabindex="5" class="btn btn-success" value="返回">
                            <input type="button" onclick="pre()" tabindex="5" class="btn btn-success" value="提交">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var hospid = {{ hospid }};

    function pre(){
        location.href = "modelresult.html?hospid=" + hospid;
    }
</script>
{% endblock %}