{% extends 'blog/base.html' %} {% block barthel %}
<a class="active-menu" href="{% url 'barthel' %}"><i class="fa fa-desktop"></i> Barthel指数</a> {% endblock %} 
{% block main %}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Barthel指数评分量表 <small>认知康复服务平台</small>
        </h1>
        <!--ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Empty</a></li>
            <li class="active">Data</li>
        </ol-->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center>Barthel指数评分量表</center>
                        <div class="col-lg-1 pull-right"><input type="button" class="btn btn-default" value="打印"/></div>
                    </div>
                    
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputName2" class="">姓&nbsp&nbsp&nbsp&nbsp名 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                    <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp性别 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 50px;" value="男">
                                    <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp年龄 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 50px;" value="58岁">
                                    <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp疾病 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                    <label for="exampleInputName2" class="">病程 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleInputName2" class="">住院号 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;" value="B000000">
                                    <label for="exampleInputName2" class="">入院时间 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                    <label for="exampleInputName2" class="">出院时间 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                    <label for="exampleInputName2" class="">随访时间 </label>
                                    <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="barthel_table">
                                <thead>
                                    <tr style="background-color:#337ab7">
                                        <th style="vertical-align:middle">#</th>
                                        <th style="vertical-align:middle">项目</th>
                                        <th style="vertical-align:middle">入院评分<br/>（2017.6.2）</th>
                                        <th style="vertical-align:middle">入院评分提高概率<br/>（2017.6.14）</th>
                                        <th style="vertical-align:middle">出院实际评分<br/>（）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <p>*ADL 能力缺陷程度：0~20=极严重功能缺陷；25~45=严重功能缺陷；50~75=中度功能缺陷；</br>75~95=轻度功能缺陷；100=ADL 自理</p>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<script type="text/javascript">
    //var batthel_json = {{ batthel_json|safe }};
    var ori_data = {{ ori_data|safe }};
/*
    function jsondata() {
        //alert(batthel_json.inhosp_no);
        //$("#exampleInputName2").val(batthel_json.inhosp_no);
        $.each(batthel_json.data, function (index, item) {
            // 2.1 Create table column for group  
            // 2.2 Create a new row and append 3 columns (ip+url, group, tags)  
            $("#barthel_table tbody").append($('<tr/>')
                .append($('<td/>').html("<input id='check" + index + "' type='checkbox' />"))
                .append($('<td/>').html(item.name))
                .append($('<td/>').html(item.current))
                .append($('<td/>').html(item.pre))
                .append($('<td/>').html("<input type='text' placeholder=''>"))
            );
        });
    }

    function oridata() {
        //alert(batthel_json.inhosp_no);
        //$("#exampleInputName2").val(batthel_json.inhosp_no);
        $("#barthel_table tbody").append($('<tr/>')
            .append($('<td/>').html('1'))
            .append($('<td/>').html(ori_data.total_score.model_name))
            .append($('<td/>').html(ori_data.total_score.admission_score))
            .append($('<td colspan="2"/>').html(ori_data.total_score.predicted_score))
            .append($('<td/>').html("<input type='text' placeholder=''>"))
        );
        $.each(ori_data.total_level.prob_distribution, function (index, item) {
            if(index == 0){
                $("#barthel_table tbody").append($('<tr/>')
                    .append($('<td rowspan="5" style="vertical-align:middle"/>').html('2'))
                    .append($('<td rowspan="5" style="vertical-align:middle"/>').html(ori_data.total_level.model_name))
                    .append($('<td rowspan="5" style="vertical-align:middle"/>').html(ori_data.total_level.admission_score))
                    .append($('<td/>').html(item.score))
                    .append($('<td/>').html(item.probability))
                    .append($('<td rowspan="5" style="vertical-align:middle"/>').html("<input type='text' placeholder=''>"))
                );
            } else {
                $("#barthel_table tbody").append($('<tr/>')
                    .append($('<td/>').html(item.score))
                    .append($('<td/>').html(item.probability))
                );
            }
        });
        $.each(ori_data.subitem_scores, function (index, item) {
            rowspan = item.prob_distribution.length;
            $.each(item.prob_distribution, function (index1, item1) {
                if(index1 == 0){
                    $("#barthel_table tbody").append($('<tr/>')
                        .append($('<td rowspan="' + rowspan + '" style="vertical-align:middle"/>').html(index + 3))
                        .append($('<td rowspan="' + rowspan + '" style="vertical-align:middle"/>').html(item.model_name))
                        .append($('<td rowspan="' + rowspan + '" style="vertical-align:middle"/>').html(item.admission_score))
                        .append($('<td/>').html(item1.score))
                        .append($('<td/>').html(item1.probability))
                        .append($('<td rowspan="' + rowspan + '" style="vertical-align:middle"/>').html("<input type='text' placeholder=''>"))
                    );
                } else{
                    $("#barthel_table tbody").append($('<tr/>')
                        .append($('<td/>').html(item1.score))
                        .append($('<td/>').html(item1.probability))
                    );
                }
            });
        });
    }
    function oridata2() {
        //alert(batthel_json.inhosp_no);
        //$("#exampleInputName2").val(batthel_json.inhosp_no);
        $.each(ori_data.subitem_scores, function (index, item) {
            rowspan = item.prob_distribution.length;
            arrow = "";
            color = "";
            if(item.admission_score < item.predicted_score){
                arrow = "&#8593";
                color = "style='color:green;font-weight:bold'";
            } else if(item.admission_score > item.predicted_score){
                arrow = "&#8595";
            }
            $("#barthel_table tbody").append($('<tr ' + color + '/>')
                .append($('<td/>').html(index + 1))
                .append($('<td/>').html(item.model_name + arrow))
                .append($('<td/>').html(item.admission_score))
                .append($('<td/>').html(item.predicted_score))
                .append($('<td/>').html(item.prob_distribution[0].probability))
                .append($('<td/>').html(item.prob_distribution[1].probability))
                .append($('<td/>').html(item.prob_distribution[2].probability))
                .append($('<td/>').html(item.prob_distribution[3].probability))
                .append($('<td/>').html("<input type='text' placeholder=''>"))
            );
        });
        $("#barthel_table tbody").append($('<tr style="background-color:#337ab7"/>')
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>').html("极重"))
            .append($('<td/>').html("严重"))
            .append($('<td/>').html("中度"))
            .append($('<td/>').html("轻度"))
            .append($('<td/>'))
        );
        $("#barthel_table tbody").append($('<tr/>')
            .append($('<td/>').html(11))
            .append($('<td/>').html(ori_data.total_level.model_name))
            .append($('<td/>').html(ori_data.total_level.admission_score))
            .append($('<td/>').html(ori_data.total_level.predicted_score))
            .append($('<td/>').html(ori_data.total_level.prob_distribution[1].probability))
            .append($('<td/>').html(ori_data.total_level.prob_distribution[2].probability))
            .append($('<td/>').html(ori_data.total_level.prob_distribution[3].probability))
            .append($('<td/>').html(ori_data.total_level.prob_distribution[4].probability))
            .append($('<td/>'))
        );
        $("#barthel_table tbody").append($('<tr/>')
            .append($('<td/>').html('12'))
            .append($('<td/>').html(ori_data.total_score.model_name))
            .append($('<td/>').html(ori_data.total_score.admission_score))
            .append($('<td/>').html(ori_data.total_score.predicted_score))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
        );
    }
*/
    function oridata3() {
        //alert(ori_data.inhosp_no)
        $.each(ori_data.subitem_scores, function (index, item) {
            //rowspan = item.prob_distribution.length;
            arrow = "";
            color = "";
            $("#barthel_table tbody").append($('<tr/>')
                .append($('<td/>').html(index + 1))
                .append($('<td/>').html(item.model_name + arrow))
                .append($('<td/>').html(item.admission_score))
                .append($('<td/>').html(item.probability_of_improvement))
                .append($('<td/>').html("<input type='text' placeholder=''>"))
            );
        });
        $("#barthel_table tbody").append($('<tr style="background-color:#337ab7"/>')
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
            .append($('<td/>'))
        );
        $("#barthel_table tbody").append($('<tr/>')
            .append($('<td/>').html(11))
            .append($('<td/>').html(ori_data.total_level.model_name))
            .append($('<td/>').html(ori_data.total_level.admission_score))
            .append($('<td title=" 男性0.45 \n首次康复治疗 0.98"/>').html(ori_data.total_level.probability_of_improvement))
            .append($('<td/>'))
        );
        $("#barthel_table tbody").append($('<tr/>')
            .append($('<td/>').html('12'))
            .append($('<td/>').html(ori_data.total_score.model_name))
            .append($('<td/>').html(ori_data.total_score.admission_score))
            .append($('<td/>').html(ori_data.total_score.predicted_score))
            .append($('<td/>'))
        );
    }

    window.onload=function(){oridata3();}

</script>
{% endblock %}