{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>BRILLIANT Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'css/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'css/cssCharts.css' %}">
    <!-- jQuery Js -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
</head>

<body style="padding-top:70px; background:#EDEDED; padding-left:20px; padding-right:20px">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="">
            <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}"><strong><i class="icon fa fa-user-md"></i> 认知康复服务平台</strong></a>
            </div>
            <div>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="住院号">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> 个人信息</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
        </div>
    </nav>
    <!-- end nav -->
        {% block main %}
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Dashboard <small>e dljfdlasjfa </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Data</li>
                </ol>

            </div>
        </div>
        {% endblock %}
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    
    <!-- Bootstrap Js -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'js/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/morris.js' %}"></script>


    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>

    <script src="{% static 'js/jquery.chart.js' %}"></script>

    <!-- Custom Js -->
    <!--script src="{% static 'js/custom-scripts.js' %}"></script-->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Chart Js -->
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chartjs.js' %}"></script>

</body>

</html>