{% extends 'blog/index.html' %}

{% block content %}  
<h2>患者信息录入</h2>
<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <span class="input-group-addon">年龄</span>
            <input type="text" class="form-control" placeholder="twitterhandle">
        </div>
        <div class="input-group">
            <span class="input-group-addon">年龄</span>
            <input type="text" class="form-control" placeholder="twitterhandle">
        </div>
        <div class="input-group">
            <span class="input-group-addon">年龄</span>
            <input type="text" class="form-control" placeholder="twitterhandle">
        </div>
    </form>
</div>
{% endblock %}