{% extends 'blog/base.html' %} {% block doctor %}
<a class="active-menu" href="{% url 'doctor' %}"><i class="fa fa-dashboard"></i> 医生</a> {% endblock %} {% block main %}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Charts <small>Show up your stats</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Charts</a></li>
            <li class="active">Data</li>
        </ol>

    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-body">
                        <div id="main" style="height:380px;width:100%;"></div>
                    </div>
                </div>
            </div>
            
           
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-heading">
                        <div class="card-title">
                            <div class="title">Radar Chart</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="radar-chart" class="chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-heading">
                        <div class="card-title">
                            <div class="title">Polar Area Chart</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="polar-area-chart" class="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-heading">
                        <div class="card-title">
                            <div class="title">Pie & Doughnut Chart</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="pie-chart" class="chart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-heading">
                        <div class="card-title">
                            <div class="title">Line Chart</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<!--script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script-->
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript">
    var legend2 = {{ legend|safe }};
    var innerPie = {{ innerpie|safe }};
    var outPie = {{ outpie|safe }};
    //alert(innerPie);
    var dom = document.getElementById("main");

    var myChart = echarts.init(dom);

    var app = {};
    option = null;
    option = {
        title: {
            text: '风险因子',
            x: 'left'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        /*
        legend: {
            orient: 'horizontal',
            left: 'center',
            bottom: 0,
            data: legend2
        },*/
        series: [
            {
                name: '访问来源', //内环
                type: 'pie',
                selectedMode: 'single', //单一选中模式
                radius: [0, '30%'], //饼图的半径 [内半径，外半径]
                label: {
                    normal: {
                        position: 'inner' //内置文本标签
                    }
                },
                labelLine: {
                    normal: {
                        show: false	 //不需要设置引导线
                    }
                },
                data: innerPie
            },
            {
                name: '访问来源',
                type: 'pie',
                radius: ['40%', '55%'],
                data: outPie
            }
        ]
    };

    myChart.setOption(option, true);

    //用于使chart自适应高度和宽度
    window.onresize = function () {
        myChart.resize();
    };
</script>
{% endblock %}