{% extends 'blog/base1.html' %} 
{% block main %}
<div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center>Barthel指数评分量表</center>
                    <div class="col-lg-1 pull-right"><input type="button" class="btn btn-default" onclick="print()" value="打印" /></div>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputName2" class="">姓&nbsp&nbsp&nbsp&nbsp名 </label>
                                <input type="text" class="" id="name" value="{{ name }}" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp性别 </label>
                                <input type="text" class="" id="sex" value="{{ sex }}" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 50px;"
                                    value="男">
                                <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp年龄 </label>
                                <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 50px;"
                                    value="{{ age }}">
                                <label for="exampleInputName2" class="">&nbsp&nbsp&nbsp&nbsp疾病 </label>
                                <input type="text" class="" id="inhospno" value="{{ dignose }}" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                <label for="exampleInputName2" class="">病程 </label>
                                <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                            </div>
                            <div class="col-md-12">
                                <label for="exampleInputName2" class="">住院号 </label>
                                <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;"
                                    value="{{ hospitno }}">
                                <label for="exampleInputName2" class="">入院时间 </label>
                                <input type="text" class="" id="inhospno" value="{{ entdate }}" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                <label for="exampleInputName2" class="">出院时间 </label>
                                <input type="text" class="" id="inhospno" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                                <label for="exampleInputName2" class="">随访时间 </label>
                                <input type="text" class="" id="inhospno" value="" placeholder="" style="border:0px;border-bottom:#000000 1px solid;width: 120px;">
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="barthel_table">
                            <thead style="vertical-align:middle">
                                <tr>
                                    <th rowspan="3" style="vertical-align:middle; text-align:center" width="21%">项目</th>
                                    <th rowspan="3" style="vertical-align:middle; text-align:center" width="40%">评分标准</th>
                                    <th colspan="3" style="vertical-align:middle; text-align:center">评定时期（年/月/日）</th>
                                </tr>
                                <tr >
                                    <th width="13%">初期</th>
                                    <th width="13%">中期</th>
                                    <th width="13%">后期</th>
                                </tr>
                                <tr>
                                    <th id="date1"></th>
                                    <th id="date2"></th>
                                    <th id="date3"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr>
                                    <td>1. 大便</td>
                                    <td><button type="button" id="barthel10" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=失禁或昏迷</button>
                                        <button type="button" id="barthel11" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=偶尔失禁(每星期<1次)</button>
                                        <button type="button" id="barthel12" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=能控制</button>
                                    </td>
                                    <td id="b1tdc"></td>
                                    <td id="b1tdz"></td>
                                    <td id="b1tdh"></td>
                                </tr>
                                <tr>
                                    <td>2. 小便</td>
                                    <td><button type="button" id="barthel20" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=失禁或昏迷或需由他人导尿</button>
                                        <button type="button" id="barthel21" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=偶尔失禁(每24h<1次，每星期>1次)</button>
                                        <button type="button" id="barthel22" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=控制</button>
                                    </td>
                                    <td id="b2tdc"></td>
                                    <td id="b2tdz"></td>
                                    <td id="b2tdh"></td>
                                </tr>
                                <tr>
                                    <td>3. 修饰</td>
                                    <td><button type="button" id="barthel30" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=需帮助</button>
                                        <button type="button" id="barthel31" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=独立洗脸、梳头、刷牙、剃须</button>
                                    </td>
                                    <td id="b3tdc"></td>
                                    <td id="b3tdz"></td>
                                    <td id="b3tdh"></td>
                                </tr>
                                <tr>
                                    <td>4. 用厕</td>
                                    <td><button type="button" id="barthel40" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=依赖别人</button>
                                        <button type="button" id="barthel41" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=需部分帮助</button>
                                        <button type="button" id="barthel42" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=自理</button>
                                    </td>
                                    <td id="b4tdc"></td>
                                    <td id="b4tdz"></td>
                                    <td id="b4tdh"></td>
                                </tr>
                                <tr>
                                    <td>5. 吃饭</td>
                                    <td><button type="button" id="barthel50" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=依赖</button>
                                        <button type="button" id="barthel51" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=需部分帮助(切面包、抹黄油、夹菜、盛饭)</button>
                                        <button type="button" id="barthel52" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=全面自理</button>
                                    </td>
                                    <td id="b5tdc"></td>
                                    <td id="b5tdz"></td>
                                    <td id="b5tdh"></td>
                                </tr>
                                <tr>
                                    <td>6. 转移(床-椅)</td>
                                    <td><button type="button" id="barthel60" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=完全依赖别人，不能坐</button>
                                        <button type="button" id="barthel61" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=需大量帮助(2人)，能坐</button>
                                        <button type="button" id="barthel62" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=需少量帮助(1人)或指导</button>
                                        <button type="button" id="barthel63" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">15=自理</button>
                                    </td>
                                    <td id="b6tdc"></td>
                                    <td id="b6tdz"></td>
                                    <td id="b6tdh"></td>
                                </tr>
                                <tr>
                                    <td>7. 活动(步行)<br/>(在病房及其周围，<br/>不包括走远路)</td>
                                    <td><button type="button" id="barthel70" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=不能动</button>
                                        <button type="button" id="barthel71" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=在轮椅上独立行动</button>
                                        <button type="button" id="barthel72" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=需1人帮助步行(体力或言语指导)</button>
                                        <button type="button" id="barthel73" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">15=独立步行(可用辅助器)</button>
                                    </td>
                                    <td id="b7tdc"></td>
                                    <td id="b7tdz"></td>
                                    <td id="b7tdh"></td>
                                </tr>
                                <tr>
                                    <td>8. 穿衣</td>
                                    <td><button type="button" id="barthel80" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=依赖</button>
                                        <button type="button" id="barthel81" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=需一半帮助</button>
                                        <button type="button" id="barthel82" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=自理(系开纽扣、关开拉锁和穿鞋等)</button>
                                    </td>
                                    <td id="b8tdc"></td>
                                    <td id="b8tdz"></td>
                                    <td id="b8tdh"></td>
                                </tr>
                                <tr>
                                    <td>9. 上楼梯(上下一段<br/>楼梯，用手杖也算独立)</td>
                                    <td><button type="button" id="barthel90" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=不能</button>
                                        <button type="button" id="barthel91" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=需帮助(体力或语言指导)</button>
                                        <button type="button" id="barthel92" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">10=自理</button>
                                    </td>
                                    <td id="b9tdc"></td>
                                    <td id="b9tdz"></td>
                                    <td id="b9tdh"></td>
                                </tr>
                                <tr>
                                    <td>10. 洗澡</td>
                                    <td><button type="button" id="barthel100" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">0=依赖</button>
                                        <button type="button" id="barthel101" onclick="barthel(this)" class="btn btn-default btn-block" style="text-align:left">5=自理</button>
                                    </td>
                                    <td id="b10tdc"></td>
                                    <td id="b10tdz"></td>
                                    <td id="b10tdh"></td>
                                </tr>
                                <tr>
                                    <td>总分</td>
                                    <td></td>
                                    <td id="total2"></td>
                                    <td id="total3"></td>
                                    <td id="total4"></td>
                                </tr>
                                <tr>
                                    <td>ADL缺陷程度*</td>
                                    <td></td>
                                    <td id="adl2"></td>
                                    <td id="adl3"></td>
                                    <td id="adl4"></td>
                                </tr>
                                <tr>
                                    <td>评定者</td>
                                    <td></td>
                                    <td id="eva2"></td>
                                    <td id="eva3"></td>
                                    <td id="eva4"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>*ADL 能力缺陷程度：0~20=极严重功能缺陷；25~45=严重功能缺陷；50~75=中度功能缺陷；</br>75~95=轻度功能缺陷；100=ADL 自理</p>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
                <p class="text-center">
                    <button type="button" class="btn btn-outline btn-default" onclick="submit()">提交</button>
                    {% if have_data %}  
                    <button type="button" class="btn btn-outline btn-default" onclick="predict()">分析结果</button>
                    {% else %}
                    <button type="button" class="btn btn-outline btn-default" onclick="predict()">康复分析</button>
                    {% endif %}
                </p>
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
<script type="text/javascript">
    var barthel_num = {{ barthel_num }};
    var barthel_button = barthel_num + 2;
    var hospid = '{{ hospid }}';
    var docname = '{{ docname }}';
    
    // 打印barthel
    function print(){
        location.href = "print_assessment?hospid=" + hospid;
    }

    function predict(){
        //location.href = "addmodelpara.html?hospid=" + {{ hospid }};
        $(document).ready(function(){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.ajax({
                url: '/predict_model/',
                type: "POST",
                traditional: true,
                data: {'hospid': hospid},
                success: function(data){
                    //alert(data);
                    if(data == -2){
                        alert("请先评定并提交后再做康复预测！");
                    }else if(data == -1){
                        alert("出错了！");
                    }else if(data == 1){
                        location.href = "addmodelpara.html?hospid=" + hospid;
                    }else if(data == 2){
                        location.href = "modelresult.html?hospid=" + hospid;
                    }
                }
            });
        });
    }

    // 提交按钮
    function submit(){
        if(barthel_num != 3){
            var $tbody = $("#tbody").children("tr");
            result = true;
            $tbody.each(function(index, data){
                if(index < 11){
                    var score = $(data).children('td').eq(barthel_button).text();
                    //alert(score);
                    if(score == ''){
                        result = false;
                        return false;
                        //total_score = total_score + parseInt(score);
                    }
                }
            });
            if(result){
                //alert(dic["score1"]);
                var dic = {};
                //dic["dabian"] = parseInt($("#tbody").children("tr").eq(0).children('td').eq(2).text());
                $tbody.each(function(index, data){
                    if(index < 11){
                        var score = $(data).children('td').eq(barthel_button).text();
                        //alert(score);
                        if(score != ''){
                            var name = "score" + index;
                            dic[name] = parseInt(score);
                            //alert(dic[name]);
                        }
                    }
                });
                dic['hospid'] = hospid;
                dic['barthel_num'] = barthel_num + 1;
                //alert(dic);
                $(document).ready(function(){
                    $.ajaxSetup({
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                    });
                    $.ajax({
                        url: '/evaluate_submit/',
                        type: "POST",
                        traditional: true,
                        data: {'dic': JSON.stringify(dic)},
                        dataType: 'json',
                        cache: false,
                        success: function(data){
                            if(data == 1){
                                alert("评定成功!");
                                if(barthel_num + 1 == 3){
                                    location.href = "predictbar.html?hospid=" + dic['hospid'];
                                }else{
                                    location.href = "evaluate.html?hospid=" + dic['hospid'];
                                }
                            }else if(data == 2){
                                alert("已经提交过！");
                            }
                            //alert('ss');
                            //alert(data);
                            /*
                            data = JSON.parse(data);
                            if (data["status"] == 1) {
                                setSceneTd(data["result"], scece_name, td);
                            } else {
                                alert(data["result"]);
                            }*/
                        }
                    });
                });
            }
            else{
                alert("有评分项目未完成！");
            }
        }
        else{
            alert("患者已完成Barthel评分！");
        }
    }

    //barthel评分评定控制
    function barthel(ob){
        var id = $(ob).attr("id");
        var obj = $("#"+id ); 
        //obj.attr("class", "btn btn-primary btn-block");
        var $td = $(ob).parents('td').children('button');
        var $tr = $(ob).parents('tr').children('td');
        var $tbody = $(ob).parents('tbody').children('tr');
        //alert($tr.eq(3).attr("id"));
        $td.each(function(index, data){
            if($(data).attr("id") == id){
                obj.attr("class", "btn btn-primary btn-block");
                $("#" + $tr.eq(barthel_button).attr("id")).html(5*index);
            }
            else{
                $("#"+$(data).attr("id")).attr("class", "btn btn-default btn-block");
            }
            //alert(index + $(data).attr("id"));
        });
        var total_score = 0;
        $tbody.each(function(index, data){
            if(index < 10){
                var score = $(data).children('td').eq(barthel_button).text();
                //alert(score);
                if(score != ''){
                    //alert(parseInt(score));
                    total_score = total_score + parseInt(score);
                }
            }
        });
        $("#total" + barthel_button).html(total_score);
        var adl = '';
        if(total_score <= 20){
            adl = '极严重功能缺陷';
        }
        else if(total_score <= 45){
            adl = '严重功能缺陷';
        }
        else if(total_score <= 70){
            adl = '中度功能缺陷';
        }
        else if(total_score <= 95){
            adl = '轻度功能缺陷';
        }
        else if(total_score == 100){
            adl = 'ADL自理';
        }
        $("#adl" + barthel_button).html(adl);
        $("#eva" + barthel_button).html(docname);
        //$("#"+$td.eq(0).attr("id")).attr("class", "btn btn-primary btn-block");
    }

    var score = {{ barthel_data|safe }};
    var curtime = {{ current_time|safe }};
    // 展示历史barthel评分
    function barthel_show(){
        var $tbody = $("#tbody").children("tr");
        $tbody.each(function(index, data){
            if(index < 13){
                $(data).children('td').eq(2).html(score['score1'+index]);
                $(data).children('td').eq(3).html(score['score2'+index]);
                $(data).children('td').eq(4).html(score['score3'+index]);
            }
        });
        $tbody.each(function(index, data){
            if(index < 11){
                $(data).children('td').eq(2).addClass('med-td');
                $(data).children('td').eq(3).addClass('med-td');
                $(data).children('td').eq(4).addClass('med-td');
                $(data).children('td').eq(2).attr("style", "vertical-align: middle");
                $(data).children('td').eq(3).attr("style", "vertical-align: middle");
                $(data).children('td').eq(4).attr("style", "vertical-align: middle");
            }
        });
        $("#date1").html(score['score1date']);
        $("#date2").html(score['score2date']);
        $("#date3").html(score['score3date']);
        var date_index = barthel_num + 1
        $("#date" + date_index).html(curtime['current_time']);
    }

    window.onload=function(){barthel_show();}
</script>
{% endblock %}