{% extends 'blog/base.html' %} 
{% block doctor %}
    <a href="{% url 'doctor' %}"><i class="fa fa-dashboard"></i> 医生</a>
{% endblock %}
{% block main %}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            首页 <small>认知康复服务平台</small>
        </h1>
        <!--ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Data</li>
        </ol-->

    </div>
    <div id="page-inner">

        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>132</h3>
                                <small>正在治疗病人数</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user fa-5x yellow"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>42</h3>
                                <small>上月新增病人</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart-o fa-5x green"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>54</h3>
                                <small>上月出院病人</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-thumbs-o-up fa-5x blue"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>2301</h3>
                                <small>康复病人总数</small>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users fa-5x red"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-body">
                        <div id="main" style="height:380px;width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-default chartJs">
                    <div class="panel-heading">
                        <div class="card-title">
                            <div class="title">Bar Chart</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="bar-chart" class="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>卒中病人比例</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="82"><span class="percent">82%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>手术率</h4>
                        <div class="easypiechart" id="easypiechart-orange" data-percent="35"><span class="percent">35%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>好转率</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="84"><span class="percent">84%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>满意率</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="90"><span class="percent">90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->

    </div>
    <!-- /. PAGE INNER  -->
</div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<!--script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script-->
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript">
    var legend2 = {{ legend|safe }};
    var innerPie = {{ innerpie|safe }};
    var outPie = {{ outpie|safe }};
    //alert(innerPie);
    var dom = document.getElementById("main");

    var myChart = echarts.init(dom);

    var app = {};
    option = null;
    option = {
        title: {
            text: '风险因子',
            x: 'left'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        /*
        legend: {
            orient: 'horizontal',
            left: 'center',
            bottom: 0,
            data: legend2
        },*/
        series: [
            {
                name: '访问来源', //内环
                type: 'pie',
                selectedMode: 'single', //单一选中模式
                radius: [0, '30%'], //饼图的半径 [内半径，外半径]
                label: {
                    normal: {
                        position: 'inner' //内置文本标签
                    }
                },
                labelLine: {
                    normal: {
                        show: false	 //不需要设置引导线
                    }
                },
                data: innerPie
            },
            {
                name: '访问来源',
                type: 'pie',
                radius: ['40%', '55%'],
                data: outPie
            }
        ]
    };

    myChart.setOption(option, true);

    //用于使chart自适应高度和宽度
    window.onresize = function () {
        myChart.resize();
    };
</script>
{% endblock %}