{% extends 'blog/base1.html' %} 
{% load static %}
{% block main %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <center>患者康复预测分析结果</center>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5>康复预测结果</h5>
                        </div>
                        <div class="panel-body">
                            <p><b>该患者出院ADL能力缺陷程度预期是：
                                <font color="#FF8000">{{ adl|safe }}</font></b><br>
                                &nbsp&nbsp&nbsp&nbsp&#8226 对康复提升的正面影响因素包括：{{ factor_p|safe }}<br>
                                &nbsp&nbsp&nbsp&nbsp&#8226 对康复提升的负面影响因素包括：{{ factor_n|safe }}
                            </p>
                            <p><b>该患者最有可能提高的康复目标包括：</b></p>
                            {{ factor_html|safe }}
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5>患者相似性分析结果</h5>
                        </div>
                        <div class="panel-body">
                            <p>根据该患者的入院特征，找到
                                <font color="red">{{ patient_num|safe }}名</font>相似的卒中患者</p>
                            <p>这些患者的共性是：{{ group_character|safe }}</p>
                            <div class="col-sm-12 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="pic1" style="height:380px;width:100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- echarts Js -->
<!--script src="{% static 'js/echarts-all-3.js' %}"></script-->
<script type="text/javascript">
    //var batthel_json = {{ batthel_json|safe }};
    var y_axis = {{ y_axis|safe }};
    var group_1 = {{ group_1|safe }};
    var group_all = {{ group_all|safe }};
    //var data = {{ data|safe }};
    var dom = document.getElementById("pic1");

    var myChart = echarts.init(dom);
    var app = {}
    app.title = '基本信息';

    option = {
        title: {
            text: '基本信息',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['全人群', '相似人群']
        },
        toolbox: {
            show: true/*
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }*/
        },
        grid: {
            left: '15%',
            right: '4%',
            bottom: '10%',
            //containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: y_axis
        },
        series: [
            {
                name: '全人群',
                type: 'bar',
                data: group_all,
                itemStyle:{
                  normal:{color:'#66ccff'}
                }
            },
            {
                name: '相似人群',
                type: 'bar',
                data: group_1,
                itemStyle:{
                  normal:{color:'#ccff66'}
                }
            }
        ]
    };
    myChart.setOption(option, true);
</script>
{% endblock %}