{% extends 'blog/base1.html' %} {% block doctor %}
<a class="active-menu" href="{% url 'doctor' %}"><i class="fa fa-dashboard"></i> 医生</a> {% endblock %} {% block main %}
<div>
    {{ page_html }}
    <div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 小明
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{% url 'similarity' %}" onclick=""><i class="fa fa-link"></i> 评定</a>
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 查看</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 小明
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 小明
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 小明
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 小明
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-male"></i> 小明
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" frame="void">
                        <tr>
                            <td>住院号 </td>
                            <td>B000000</td>
                        </tr>
                        <tr>
                            <td>性别 </td>
                            <td>女 </td>
                        </tr>
                        <tr>
                            <td>年龄 </td>
                            <td>60 </td>
                        </tr>
                        <tr>
                            <td>卒中类型 </td>
                            <td>脑梗死 </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-male"></i> 小明
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" frame="void">
                        <tr>
                            <td>住院号 </td>
                            <td>B000000</td>
                        </tr>
                        <tr>
                            <td>性别 </td>
                            <td>女 </td>
                        </tr>
                        <tr>
                            <td>年龄 </td>
                            <td>60 </td>
                        </tr>
                        <tr>
                            <td>卒中类型 </td>
                            <td>脑梗死 </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-male"></i> 小明
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" frame="void">
                        <tr>
                            <td>住院号 </td>
                            <td>B000000</td>
                        </tr>
                        <tr>
                            <td>性别 </td>
                            <td>女 </td>
                        </tr>
                        <tr>
                            <td>年龄 </td>
                            <td>60 </td>
                        </tr>
                        <tr>
                            <td>卒中类型 </td>
                            <td>脑梗死 </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-male"></i> 小明
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" frame="void">
                        <tr>
                            <td>住院号 </td>
                            <td>B000000</td>
                        </tr>
                        <tr>
                            <td>性别 </td>
                            <td>女 </td>
                        </tr>
                        <tr>
                            <td>年龄 </td>
                            <td>60 </td>
                        </tr>
                        <tr>
                            <td>卒中类型 </td>
                            <td>脑梗死 </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-3 col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-male"></i> 小明
                </div>
                <div class="panel-body">
                    <table class="table table-condensed" frame="void">
                        <tr>
                            <td>住院号 </td>
                            <td>B000000</td>
                        </tr>
                        <tr>
                            <td>性别 </td>
                            <td>女 </td>
                        </tr>
                        <tr>
                            <td>年龄 </td>
                            <td>60 </td>
                        </tr>
                        <tr>
                            <td>卒中类型 </td>
                            <td>脑梗死 </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 详情</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
</div>
{% endblock %}