{% extends 'blog/base1.html' %} {% block doctor %}
<a class="active-menu" href="{% url 'doctor' %}"><i class="fa fa-dashboard"></i> 医生</a> {% endblock %} {% block main %}
<div>
    {{ page_html }}
    <!--div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 测试人员
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="javascript:void(0)" onclick="evaluate1(1)"><i class="fa fa-link"></i> 评定</a>
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 查看</a>
            </div>
        </div>
    </div-->
    <!-- /.col-lg-3 -->
</div>
<!-- end footer-box -->
<footer class="footer ">
    <div class="row footer-top">
        <div class="col-sm-12 col-lg-12">
            <p>
                <small>说明：(患者面板右上角文字) </small>
                <small>1. 院内患者表示该患者刚入院。 </small>
                <small>2. 日期表示该患者下次Barthel量表评定时间（间隔7日）。 </small>
                <small>3. 评测完成表示该患者已完成3次Barthel量表评定。 </small>
                <small>4. 出院患者表示该患者已出院。 </small>
            </p>
        </div>
    </div>
    <div class="row footer-bottom">
        <ul class="list-inline text-center">
            <li>
                <a href="" target="_blank">Copyright @ 2017</a>
            </li>
        </ul>
    </div>
</footer>
<script type="text/javascript">

    function check1(hospid, evaluate_status){
        location.href = "modelresult.html?hospid=" + hospid;
        /*
        if(evaluate_status == 3){
            location.href = "predictbar.html?hospid=" + hospid;
        }else if(evaluate_status == 2){
            location.href = "modelresult.html?hospid=" + hospid;
        }*/
    }

    function evaluate1(hospid){
        location.href = "evaluate.html?hospid=" + hospid;
        /*$.ajax({
            type: 'post',
            url: 'evaluate.html',
            data: "hospid=" + hospid,
            cache: false,
            success: function (data) {
                //alert(data);
                if (data == 1) {
                    location.href = "predict.html";
                }
                if (data == -1) {
                    alert('预测成果，请等病人最后一次barthel评分后查看结果!');
                }
            },
            error: function () {
                alert('预测失败！');
            }
        });
        */
    }

    function barthel_bar(hospid){
        location.href = "predictbar.html?hospid=" + hospid;
    }

    function remove(hospid){
        Ewin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
            if (!e) {
                return;
            }
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.ajax({
                type: "POST",
                url: "{% url 'patpanelRemove' %}",
                data: {"hospid": hospid},
                success: function (data, status) {
                    if (status == 'success') {
                        //alert("data");
                        location.href = "patpanel.html";
                    }
                }
            });
        });
    }

    (function ($) {

        window.Ewin = function () {
            var html = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                                  '<div class="modal-dialog modal-sm">' +
                                      '<div class="modal-content">' +
                                          '<div class="modal-header">' +
                                              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                                              '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                                          '</div>' +
                                          '<div class="modal-body">' +
                                          '<p>[Message]</p>' +
                                          '</div>' +
                                           '<div class="modal-footer">' +
            '<button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>' +
            '<button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>' +
        '</div>' +
                                      '</div>' +
                                  '</div>' +
                              '</div>';
    
    
            var dialogdHtml = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                                  '<div class="modal-dialog">' +
                                      '<div class="modal-content">' +
                                          '<div class="modal-header">' +
                                              '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                                              '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                                          '</div>' +
                                          '<div class="modal-body">' +
                                          '</div>' +
                                      '</div>' +
                                  '</div>' +
                              '</div>';
            var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
            var generateId = function () {
                var date = new Date();
                return 'mdl' + date.valueOf();
            }
            var init = function (options) {
                options = $.extend({}, {
                    title: "操作提示",
                    message: "提示内容",
                    btnok: "确定",
                    btncl: "取消",
                    width: 200,
                    auto: false
                }, options || {});
                var modalId = generateId();
                var content = html.replace(reg, function (node, key) {
                    return {
                        Id: modalId,
                        Title: options.title,
                        Message: options.message,
                        BtnOk: options.btnok,
                        BtnCancel: options.btncl
                    }[key];
                });
                $('body').append(content);
                $('#' + modalId).modal({
                    width: options.width,
                    backdrop: 'static'
                });
                $('#' + modalId).on('hide.bs.modal', function (e) {
                    $('body').find('#' + modalId).remove();
                });
                return modalId;
            }
    
            return {
                alert: function (options) {
                    if (typeof options == 'string') {
                        options = {
                            message: options
                        };
                    }
                    var id = init(options);
                    var modal = $('#' + id);
                    modal.find('.ok').removeClass('btn-success').addClass('btn-primary');
                    modal.find('.cancel').hide();
    
                    return {
                        id: id,
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.find('.ok').click(function () { callback(true); });
                            }
                        },
                        hide: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.on('hide.bs.modal', function (e) {
                                    callback(e);
                                });
                            }
                        }
                    };
                },
                confirm: function (options) {
                    var id = init(options);
                    var modal = $('#' + id);
                    modal.find('.ok').removeClass('btn-primary').addClass('btn-success');
                    modal.find('.cancel').show();
                    return {
                        id: id,
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.find('.ok').click(function () { callback(true); });
                                modal.find('.cancel').click(function () { callback(false); });
                            }
                        },
                        hide: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.on('hide.bs.modal', function (e) {
                                    callback(e);
                                });
                            }
                        }
                    };
                },
                dialog: function (options) {
                    options = $.extend({}, {
                        title: 'title',
                        url: '',
                        width: 800,
                        height: 550,
                        onReady: function () { },
                        onShown: function (e) { }
                    }, options || {});
                    var modalId = generateId();
    
                    var content = dialogdHtml.replace(reg, function (node, key) {
                        return {
                            Id: modalId,
                            Title: options.title
                        }[key];
                    });
                    $('body').append(content);
                    var target = $('#' + modalId);
                    target.find('.modal-body').load(options.url);
                    if (options.onReady())
                        options.onReady.call(target);
                    target.modal();
                    target.on('shown.bs.modal', function (e) {
                        if (options.onReady(e))
                            options.onReady.call(target, e);
                    });
                    target.on('hide.bs.modal', function (e) {
                        $('body').find(target).remove();
                    });
                }
            }
        }();
    })(jQuery);

</script>
{% endblock %}