{% extends 'blog/base1.html' %} {% block doctor %}
<a class="active-menu" href="{% url 'doctor' %}"><i class="fa fa-dashboard"></i> 医生</a> {% endblock %} {% block main %}
<div>
    {{ page_html }}
    <!--div class="col-lg-3 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-male"></i> 测试人员
            </div>
            <div class="panel-body">
                <table class="table table-condensed" frame="void">
                    <tr>
                        <td>住院号 </td>
                        <td>B000000</td>
                    </tr>
                    <tr>
                        <td>性别 </td>
                        <td>女 </td>
                    </tr>
                    <tr>
                        <td>年龄 </td>
                        <td>60 </td>
                    </tr>
                    <tr>
                        <td>卒中类型 </td>
                        <td>脑梗死 </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="javascript:void(0)" onclick="evaluate1(1)"><i class="fa fa-link"></i> 评定</a>
                <a href="{% url 'similarity' %}" class=""><i class="fa fa-link"></i> 查看</a>
            </div>
        </div>
    </div-->
    <!-- /.col-lg-3 -->
</div>
<script type="text/javascript">

    function check1(hospid, evaluate_status){
        if(evaluate_status == 3){
            location.href = "predictbar.html?hospid=" + hospid;
        }else if(evaluate_status == 2){
            location.href = "modelresult.html?hospid=" + hospid;
        }
    }

    function evaluate1(hospid){
        location.href = "evaluate.html?hospid=" + hospid;
        /*$.ajax({
            type: 'post',
            url: 'evaluate.html',
            data: "hospid=" + hospid,
            cache: false,
            success: function (data) {
                //alert(data);
                if (data == 1) {
                    location.href = "predict.html";
                }
                if (data == -1) {
                    alert('预测成果，请等病人最后一次barthel评分后查看结果!');
                }
            },
            error: function () {
                alert('预测失败！');
            }
        });
        */
    }

</script>
{% endblock %}