{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>认知康复服务平台</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="well panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">账号注册</h3>
                    </div>
                    <div class="panel-body">
                        <!--form role="form" method="post" action="{% url 'login' %}"-->
                        <form  role="form" action="{% url 'regist' %}" method="post" id="regform">
                            {% csrf_token %}
                            <fieldset>
                                <p class="error loginError" align="center"></p>
                                <div class="form-group">
                                    <input class="form-control" placeholder="账号" name="name" id="name" type="name" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="password" id="password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="邮箱" name="email" id="email" type="email" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="医生姓名" name="docname" id="docname" type="docname" value="">
                                </div>
                                <div class="form-actions">
                                        <input type="submit" id="register" tabindex="5" class="btn btn-success" value="注册">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Js -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        /*//jQuery提交  
        $("#register").click(function () {
            $("#regform").submit();
        })
        $(function () {
            //ajax提交  
            $("#register").click(function () {
                var params = $("#regform").serialize();
                $.ajax({
                    type: "POST",
                    url: "/regist/",
                    data: params,
                    success: function (msg) {
                        alert("success: " + msg);
                    }
                });
            })
        });*/
        
    </script>
</body>


</html>